spring:
  application:
    name: MeritU
  datasource:
    url: jdbc:mysql://localhost:3306/meritu
    username: root
    password: root
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

api:
  security:
    token:
      secret: my-meritu-default-secret
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    context-path: /meritu-api